<script>
    
    $("#otpbtn").click(function() {
        console.log("button clicked")
        let email = $("#email").val()
        let csr = $("input[name=csrfmiddlewaretoken]").val()
        if (email == ""){
            console.log("pleace enter a valied email")
            $("#statusmsg").text("pleace enter a valied email")
        }
        else{
            data = {email:email,csrfmiddlewaretoken:csr}
            $.ajax({
                url: "{% url 'otpgenerator' %}",
                method: "POST",
                data:data,
                success: function(data) {
                    console.log(data.status)
                    $("#statusmsg").text(data.status)
                    
                }

            })
        }
            
    })

    $(".wishbtn").click(function(event) {
        event.preventDefault();
        console.log("whish btn clicked")
        let category_id = $(this).data('id');
        data = {category_id:category_id, csrfmiddlewaretoken: '{{ csrf_token }}'}

        $.ajax({
            url: "{% url 'addtowishlist' %}",
            method: "POST",
            data:data,
            success: function(data) {
                console.log("sucsess")
                console.log(data.status)
            }

        })
    })

    $(".addtocartbtn").click(function() {
        console.log("add to cart btn clicked")
        let category_id = $(this).data('id')
        data = {category_id:category_id, csrfmiddlewaretoken: '{{ csrf_token }}'}
        console.log(category_id)
        $.ajax({
            url: "{% url 'addtocart' %}",
            method: "POST",
            data:data,
            success: function(data) {
                console.log("sucsess")
                console.log(data.status)
            }

        })
    })

    $("#userinfobtn").click(function(){
        console.log("user info button clicked")
        let first_name = $("#userinfo_first_name").val()
        let last_name = $("#userinfo_last_name").val()
        let contact_number = $("#userinfo_contact_number").val()
        let gender = $("#userinfo_gender").val()
        data = {first_name:first_name, last_name:last_name, gender:gender, contact_number:contact_number, csrfmiddlewaretoken: '{{ csrf_token }}'}

        $.ajax({
            url: "{% url 'user' %}",
            method: "POST",
            data:data,
            success: function(data) {
                console.log("sucsess")
                console.log(data.status)
            }

        })
        
        
    })

    $(".remove_addressbtn").click(function() {
        console.log("address delete button")
        let address_id = $(this).val()
        console.log(address_id)
        data = {address_id:address_id,csrfmiddlewaretoken: '{{ csrf_token }}'}

        $.ajax({
            url: "{% url 'deleteaddress' %}",
            method: "POST",
            data:data,
            success: function(data) {
                console.log("sucsess")
                console.log(data.status)
            }
        })
    })
    

    $(".count_down").on('click', function() {
        console.log("count down btn")
        let input = $(this).siblings('.quantity_evnt').val()
        $(this).siblings('.quantity_evnt').val(parseInt(input)-1).trigger('change')
        
        
    })

    $(".count_up").on('click', function() {
        console.log("coumt up")
        let input = $(this).siblings('.quantity_evnt').val()
        $(this).siblings('.quantity_evnt').val(parseInt(input)+1).trigger('change')
    })
    





    //cart quantity varing trigger calculation
    $(document).ready(function() {
        

        // price and quantity show fot one item when page render
        var total_quantity = 0
        var total_price = 0
        $(".quantity_evnt").each(function() {
            total_quantity += parseInt($(this).val())
        })

        $(".price_event").each(function() {
            total_price += parseInt($(this).text())
        })

        $("#cart_items_qnty").text(total_quantity)
        $("#cart_items_price").text(total_price)
        if (total_price < 25000) {
            $("#delivery_charge").text(249)
            $("#final_total_price").text(total_price + 249)
        }
        else{
            $("#delivery_charge").text("Free")
            $("#final_total_price").text(total_price)
        }


        // quantity trigger based value changing
        /* when user change the quantity we ahve to calculate quantity and price of
        each product and calculate the sum of it, so we are creating a dom make_list
        called cart_items to accress the price and quantity */
        let cart_items = $(".items")
        $(".quantity_evnt").on('change', function() {
            total_quantity = 0
            total_price = 0
            
            //fetching the category_id to check entered qnty is available or not
            let category_id = $(this).data('id')
            let needed_quantity = parseInt($(this).val())
            
            data = {category_id:category_id, needed_quantity:needed_quantity, csrfmiddlewaretoken: '{{ csrf_token }}'}

            // ajaxing to check the needed qty is available or not
            $.ajax({
                url: "{% url 'quantitycheck' %}",
                method: "POST",
                data:data,
                success: function(data) {
                    console.log("sucsess")
                    console.log(data.status)

                    if (data.status == 'quantity available') {

                        $("#quantity_exceeded_msg").hide()
                        //iterate over a list
                        cart_items.each(function() {

                            // access one fiels using this
                            var item = $(this)
                            // total quantity iteratively incremented
                            // total price iteratively added item quantity times item price
                            total_quantity += parseInt(item.find(".quantity_evnt").val())
                            total_price += parseInt(item.find(".price_event").text()) * parseInt(item.find(".quantity_evnt").val())
                
                        })
                        // after the calculation updte the total price and qnty field
                        $("#cart_items_qnty").text(total_quantity)
                        $("#cart_items_price").text(total_price)
                        if (total_price < 25000) {
                            $("#delivery_charge").text(249)
                            $("#final_total_price").text(total_price + 249)
                        }
                        else{
                            $("#delivery_charge").text(0)
                            $("#final_total_price").text(total_price)
                        }
                        
                    }
                    else{
                        // show limit exceede msg
                        console.log("limit exceeded")
                    }


                }
            })

            

        })
        

    })

    
  

    
</script>
