
<script>
    toastr.options.timeOut = 500
    $("#otpbtn").click(function() {
        console.log("button clicked")
        let email = $("#email").val()
        let csr = $("input[name=csrfmiddlewaretoken]").val()
        if (email == ""){
            console.log("pleace enter a valied email")
            $("#statusmsg").text("pleace enter a valied email")
        }
        else{
            data = {email:email,csrfmiddlewaretoken:csr}
            $.ajax({
                url: "{% url 'otpgenerator' %}",
                method: "POST",
                data:data,
                success: function(data) {
                    console.log(data.status)
                    $("#statusmsg").text(data.status)
                    
                }

            })
        }
            
    })

    $(".wishbtn").click(function(event) {
        event.preventDefault();
        console.log("whish btn clicked")
        let category_id = $(this).data('id');
        data = {category_id:category_id, csrfmiddlewaretoken: '{{ csrf_token }}'}

        $.ajax({
            url: "{% url 'addtowishlist' %}",
            method: "POST",
            data:data,
            success: function(data) {
                console.log("sucsess")
                console.log(data.status)
                
                toastr.info(data.message,{timeOut: 500})
            }

        })
    })

    $(".addtocartbtn").click(function() {
        console.log("add to cart btn clicked")
        let category_id = $(this).data('id')
        data = {category_id:category_id, csrfmiddlewaretoken: '{{ csrf_token }}'}
        console.log(category_id)
        $.ajax({
            url: "{% url 'addtocart' %}",
            method: "POST",
            data:data,
            success: function(data) {
                console.log("sucsess")
                console.log(data.status)
                /*this remove table row after it deleteaddress in only cart page
                but the same class we are using in many pages may be interfier with
                other ids so. copy past this for every pages,
                also make sure is that a good practice or not 
                */
                $("#"+category_id+"").remove()
                toastr.info(data.message,{timeOut: 500})
                
            }

        })
    })

    $("#userinfobtn").click(function(){
        console.log("user info button clicked")
        let first_name = $("#userinfo_first_name").val()
        let last_name = $("#userinfo_last_name").val()
        let contact_number = $("#userinfo_contact_number").val()
        let gender = $("#userinfo_gender").val()
        data = {first_name:first_name, last_name:last_name, gender:gender, contact_number:contact_number, csrfmiddlewaretoken: '{{ csrf_token }}'}

        $.ajax({
            url: "{% url 'user' %}",
            method: "POST",
            data:data,
            success: function(data) {
                console.log("sucsess")
                console.log(data.status)
            }

        })
        
        
    })

    $(".remove_addressbtn").click(function() {
        console.log("address delete button")
        let address_id = $(this).val()
        console.log(address_id)
        data = {address_id:address_id,csrfmiddlewaretoken: '{{ csrf_token }}'}

        $.ajax({
            url: "{% url 'deleteaddress' %}",
            method: "POST",
            data:data,
            success: function(data) {
                console.log("sucsess")
                console.log(data.status)
            }
        })
    })
    

    
    


    // main search
    $('#main_search').on('click', function () {
        console.log("main search")
        var search_input = $("#main_search_input").val()
        
        // if no input we dont want to make a  ajax request
        if (search_input == "") {
            return
        }

        window.location.href = "{% url 'mainsearch' %}?search_input="+search_input
    })



    

    
  

    
</script>
