{% extends 'cyclonebase.html' %}
{% load static %}
{% block cyclonecontant %}


    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div
            class="banner_content d-md-flex justify-content-between align-items-center"
          >
            <div class="mb-3 mb-md-0">
              <h2>Product Details</h2>
              <p>Everything you have to know</p>
            </div>
            <div class="page_link">
              <a href="index.html">Home</a>
              <a href="single-product.html">Product Details</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Single Product Area =================-->
    <div class="product_image_area">
      <div class="container">
        <div class="row">

          
        
          <div class="col-md-6">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                
                <!-- outside of the loop paste first pic as active -->
                <!-- rest of the pic loop inside the loop with out active tag -->
                <div class="carousel-item active xzoom">
                  <img src="/media/{{product_first_pic}}" class="img-fluid" alt="">
                </div>
                {% for pics in product_pics %}
                <div class="carousel-item xzoom">
                  <img src="/media/{{pics.product_image}}" class="img-fluid" alt="">
                </div>
                {% endfor %}
                
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          


          <div class="col-md-6">

            <div class="card border-dark mb-3">
              <div class="card-header"><h4>{{product_details.product_id.company}}</h4></div>
              <div class="card-body">
                <h4 class="m-0">{{product_details.product_id.model}}</h4>
                <div>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                
              </div>

              <div class="row card-body">
                <div class="col-4 align-middle"><p>{{product_details.break_type}}</p></div>
                <div class="col-4 d-flex justify-content-center"><p>{{product_details.gear_type}}</p></div>
                <div class="col-4 d-flex justify-content-end"><p>{{product_details.product_id.suspention}}</p></div>

              </div>

              <div class="row card-body">
                <div class="col-6">
                  <p>frame size</p>
                  <div class="d-flex">
                    {{product_details.frame_size}}
                    <!-- itaratively list other avilable sizes  -->
                  </div>
                  
                </div>
                <div class="col-6">
                  <p>color</p>
                  <div>
                    <i class="fa fa-circle" aria-hidden="true" style="color: red;"></i>
                    <!-- itaratively list other avilable colors colors -->
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    
                  </div>
                </div>
              </div>
              <div class="row card-body">
                <div class="d-flex">
                  <h3 class="text-danger">₹{{product_details.seller_price}}</h3>
                  <h4 class="px-3 "><s>₹{{product_details.mrp}}</s></h4>
                </div>
                
                <button type="button" data-id={{category_id}} class="btn btn-outline-secondary my-3 addtocartbtn">Add to cart</button>
                <button type="button" class="btn btn-outline-success">Buy now</button>

              </div>
            </div>
  
          </div>
        </div>
      </div>

      <div class="bg-light">
        <div class="container">
          <div class="row p-3">
            <div class="col-4 d-flex justify-content-center">
              <h5>FREE SHIPPING</h5>
            </div>
            <div class="col-4 d-flex justify-content-center">
              <h5>FREE SHIPPING</h5>
            </div>
            <div class="col-4 d-flex justify-content-center">
              <h5>FREE SHIPPING</h5>
            </div>

          </div>
        </div>

      </div>

      <div class="container">
        <h2 class="m-3">Why you'll love it</h2>
        <div class="row">
          <div class="col-6">
            <div class="card border-secondary mb-3">
              <div class="card-body text-secondary">
                <h5 class="card-title">RIDE WITH CONFIDENCE AND CONQUER ON TERRAIN</h5>
                <p class="card-text">{{product_dscpn.terrain_description}}</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card border-secondary mb-3">
              <div class="card-body text-secondary">
                <h5 class="card-title">STRENGTH AND AGILITY FORGED INTO ONE</h5>
                <p class="card-text">{{product_dscpn.strength_description}}</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card border-secondary mb-3">
              <div class="card-body text-secondary">
                <h5 class="card-title">NEXT LEVEL OF PERFORMANCE</h5>
                <p class="card-text">{{product_dscpn.perfomance_description}}</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card border-secondary mb-3">
              <div class="card-body text-secondary">
                <h5 class="card-title">ULTIMATE IN PRECISION AND CONTROL</h5>
                <p class="card-text">{{product_dscpn.precision_description}}</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>


      <div class="bg-light">
        <div class="container">
          <h2 class="p-3">Detailed specifications</h2>
          <div class="row">
            <div class="col-6">detailes</div>
            <div class="col-6">picture or chart</div>
          </div>
        </div>
      </div>

      <div class="">
        <div class="container">
          <div class="p-3">
            <h2 class="">Customer Reviews</h2>
            <p>how we are rated</p>
            <hr>
          </div>
          <div>riview and star tating</div>
          
        </div>
      </div>
    </div>
    <!--================End Single Product Area =================-->

    <script>
      
    </script>
    
    {% endblock cyclonecontant %}