{% extends 'cyclonebase.html' %}
{% load static %}
{% block cyclonecontant %}
    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div
            class="banner_content d-md-flex justify-content-between align-items-center"
          >
            <div class="mb-3 mb-md-0">
              <h2>Cart</h2>
              <p>Very us move be blessed multiply night</p>
            </div>
            <div class="page_link">
              <a href="index.html">Home</a>
              <a href="cart.html">Cart</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Cart Area =================-->
    <section>
      <div class="container">
        <form method="POST">
        {% csrf_token %}
        <div class="row mt-3">

          <div class="col-md-9">
            <table class="table">
              <tbody>
                
                
                <!-- iterate listing start -->
                {% if cart_data %}
                {% for item in cart_data %}
                
                <tr id="{{item.category_id}}">
                  
                  <td>
                    <div class="row items">
                      <input type="text" name="category_id[]" value="{{item.category_id}}" hidden>
                      <div class="col-5">
                        <img style="height: 15rem;" src="/media/{{item.image}}" alt=""> 
                      </div>
                      <div class="col-6">
                        <div><h3>{{item.model}}</h3></div>
                        <hr>
                        <div class="row">
                          <div class="col-3"> 
                            <p>color</p>
                            <i class="fa fa-circle" aria-hidden="true" style="color: red;"></i>
                          </div>
                          <div class="col-3">
                            <p>frame size</p>
                            <i class="fa fa-circle" aria-hidden="true"></i>
                          </div>
                          <div class="col-6">
                            <p>Quantity</p>

                            <div class="d-flex">
                              <button class="btn btn-outline-light count_down" type="button" id="">-</button>
                              <input type="text" name="category_quantity[]" min="1" step="1" value="{{item.item_qty}}" data-id={{item.category_id}} class="form-control quantity_evnt" id="amountInput">
                              <button class="btn btn-outline-light count_up" type="button" id="">+</button>
                              
                              <p class="text-danger quantity_exceeded_msg"></p>                           
                            </div>
                            
                            
                          </div>

                        </div>
                        
                        <div>
                          <a class="wishbtn" role="button" data-id={{item.category_id}}><i class="fa fa-heart" style="color: rgb(245, 0, 0); font-size: 24px;" ></i></a>
                        </div>
                      </div>

                      <div class="col-1">
                        <div class="">
                          <h4 class="price_event">{{ item.price }}</h4>

                          <!-- hidden elements to calculate total price and mrp -->
                          <p class="multiplied_price" hidden>{{item.mult_price}}</p>
                          <p class="item_mrp" hidden>{{item.mlt_mrp}}</p>
                          <p class="individual_mrp" hidden>{{item.mrp}}</p>

                        </div>
                        <div class="">
                          <a class="addtocartbtn" role="button" data-id={{item.category_id}}><i class="fa fa-trash-o" style="font-size:24px"></i></a>
                        </div>

                      </div>

                    </div>
                  </td>
                
                </tr>
                
                {% endfor %}
                {% endif %}
                <!-- iterate listing end -->

                
                
                <tr>
                  <td>
                    <div class="row">
                      <div class="col-5"></div>
                      <div class="col-5">
                        <h4>quantity</h4>
                        
                      </div>
                      <div class="col-2">
                        <h4 id="cart_items_qnty">0</h4>
                      </div>
                    </div>
                  </td>
                </tr>
                
                
                <tr>
                  <td>
                    <div class="row">
                      <div class="col-5"></div>
                      <div class="col-5"><h4>Total</h4></div>
                      <div class="col-2"><h4 id="cart_items_price">0</h4></div>
                    </div>
                  </td>
                </tr>
                
              </tbody>
            </table>
          </div>

          <div class="col-md-3">
            <div class="card border-secondary mb-3 sticky-top" style="max-width: 20rem;">
              <div class="card-header bg-transparent border-secondary">Price detailes</div>
              <div class="card-body ">
                <ul class="">
                  <li>
                    <div class="d-flex justify-content-between">
                      <p>Totel mrp(Inc.GST)</p>
                      <p id="total_mrp">0</p>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex justify-content-between">
                      <p>Discount</p>
                      <p id="total_discount">0</p>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex justify-content-between">
                      <p>Delivery charge</p>
                      <p id="delivery_charge">0</p>
                    </div>
                  </li>
                  <hr>
                  <li>
                    <div class="d-flex justify-content-between">
                      <p>Total</p>
                      <p id="final_total_price">0</p>
                    </div>
                  </li>
                  <li>
                    <div class="d-grid gap-2">
                      <button class="btn btn-info" id="" type="submit">Proceed to checkout</button>
                    </div>
                  </li>
                </ul>
                
              </div>
            </div>

          </div>


        </div>
      </form>

      </div>

    </section>
    <!--================End Cart Area =================-->


    <script>


      //cart quantity varing trigger calculation
    $(document).ready(function() {
        

      // price and quantity show fot one item when page render
      var total_quantity = 0
      var total_price = 0
      var total_mrp = 0

      /*
      calculating total quantity, total price and total mrp to show
      the total values in the respective fields when the page is loaded
      */
      //total seller price
      $(".quantity_evnt").each(function() {
          total_quantity += parseInt($(this).val())
      })

      //total quantity
      $(".multiplied_price").each(function() {
          total_price += parseInt($(this).text())
      })

      //total mrp
      $(".item_mrp").each(function() {
          total_mrp += parseInt($(this).text())
      })

      // after calculating the total puting this value in to the respective fields
      $("#cart_items_qnty").text(total_quantity)
      $("#cart_items_price").text(total_price)
      $("#total_mrp").text(total_mrp)

      // discount is the difference of mrp and price
      $("#total_discount").text(total_mrp - total_price)

      //checking total price fot delivery charde is applicable or not
      if (total_price < 25000) {
          $("#delivery_charge").text(249)
          $("#final_total_price").text(total_price + 249)
      }
      else{
          $("#delivery_charge").text("Free")
          $("#final_total_price").text(total_price)
      }


      // quantity trigger based value changing
      /* when user change the quantity we ahve to calculate quantity and price of
      each product and calculate the sum of it, so we are creating a dom make_list
      called cart_items to access the price and quantity 
      */
      let cart_items = $(".items")
      //$(".quantity_evnt").on('change', function() {
      function qty_ajax_check(category_id, needed_quantity,row){
          total_quantity = 0
          total_price = 0
          total_mrp = 0

          //fetching the category_id to check entered qnty is available or not
          //let category_id = $(this).data('id')
          //let needed_quantity = parseInt($(this).val())
          
          data = {category_id:category_id, needed_quantity:needed_quantity, csrfmiddlewaretoken: '{{ csrf_token }}'}

          // ajaxing to check the needed qty is available or not
          $.ajax({

              url: "{% url 'quantitycheck' %}",
              method: "POST",
              data:data,

              success: function(data) {
                  console.log("sucsess")
                  
                  
                  if (data.status == 200) {
                     
                      // updating the quantity
                      row.val(needed_quantity)

                      $(".quantity_exceeded_msg").text("")
                      //iterate over a list
                      cart_items.each(function() {

                          // access one fiels using this
                          var item = $(this)
                          // total quantity iteratively incremented
                          // total price iteratively added item quantity times item price

                          total_quantity += parseInt(item.find(".quantity_evnt").val())
                          total_price += parseInt(item.find(".price_event").text()) * parseInt(item.find(".quantity_evnt").val())
                          total_mrp += parseInt(item.find(".individual_mrp").text()) * parseInt(item.find(".quantity_evnt").val())
        

                      })  

                      // after the calculation updte the total price and qnty field
                      $("#cart_items_qnty").text(total_quantity)
                      $("#cart_items_price").text(total_price)
                      $("#total_mrp").text(total_mrp)

                      // discount is the defference of mrp and price
                      $("#total_discount").text(total_mrp - total_price)
                      
    
                      //checking total price to find delivery charge applictble or not
                      if (total_price < 25000) {
                          $("#delivery_charge").text(249)
                          $("#final_total_price").text(total_price + 249)
                      }

                      else{
                          $("#delivery_charge").text(0)
                          $("#final_total_price").text(total_price)
                      }
                      
                      
                  }

                  else{
                      // show limit exceede msg
                      $(row).siblings('.quantity_exceeded_msg').text("max limit")
                      console.log("Qty exceed")
                      toastr.warning("quantity exceeded")
                      
                  }
                  
                   
              }
          })
          
          
      }
        
        
      //count down trigger
      $(".count_down").on('click', function() {
        console.log("count down btn")
        let input = $(this).siblings('.quantity_evnt').val()
        let category_id = $(this).siblings(".quantity_evnt").data('id')
        let row = $(this).siblings('.quantity_evnt')
        
        if (input-1 < 1) {
          return
        }
        qty_ajax_check(category_id, parseInt(input)-1,row)
        
        
        //$(this).siblings('.quantity_evnt').val(parseInt(input)-1).trigger('change')
        
          
      })


      // count up trigger
      $(".count_up").on('click', function() {
        console.log("coumt up")
        let input = $(this).siblings('.quantity_evnt').val()
        let category_id = $(this).siblings(".quantity_evnt").data('id')
        let row = $(this).siblings('.quantity_evnt')
        qty_ajax_check(category_id, parseInt(input)+1,row)
        
        
        //$(this).siblings('.quantity_evnt').val(parseInt(input)+1).trigger('change')
        
        
        
      })

    })

    </script>
    {% endblock cyclonecontant %}