
{% extends 'cyclonebase.html' %}
{% load static %}
{% block cyclonecontant %}
    <!--================Home Banner Area =================-->
    <section class="home_banner_area mb-40">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div class="banner_content row">
            <div class="col-lg-12">
              <p class="sub text-uppercase">men Collection</p>
              <h3><span>Show</span> Your <br />Personal <span>Style</span></h3>
              <h4>Fowl saw dry which a above together place.</h4>
              <a class="main_btn mt-40" href="#">View Collection</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->
  <!-- Start feature Area -->
  <section class="feature-area section_gap_bottom_custom">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="single-feature">
            <a href="#" class="title">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
                <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
                <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
                <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
              </svg>
              <h3>Money back gurantee</h3>
            </a>
            <p>Shall open divide a one</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="single-feature">
            <a href="#" class="title">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
              </svg>
              <h3>Free Delivery</h3>
            </a>
            <p>Shall open divide a one</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="single-feature">
            <a href="#" class="title">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"/>
              </svg>
              <h3>Alway support</h3>
            </a>
            <p>Shall open divide a one</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="single-feature">
            <a href="#" class="title">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-credit-card-2-front" viewBox="0 0 16 16">
                <path d="M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
                <path d="M2 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"/>
              </svg>
              <h3>Secure payment</h3>
            </a>
            <p>Shall open divide a one</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End feature Area -->

  <!--================ Feature Product Area =================-->

  <section class="feature_product_area section_gap_bottom_custom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="main_title">
            <h2><span>Featured product</span></h2>
            <p>Bring called seed first of third give itself now ment</p>
          </div>
        </div>
      </div>

      
      <div class="row">

        <!-- iteratively display featured items here -->
        {% if products %}
        {% for product in products %}
        <div class="col-md-4">
          <div class="single-product">
            <div class="product-img">
              <a href="{% url 'product' product.category_id %}">
                <img class="img-fluid w-100" src="/media/{{product.image}}" alt="" />
              </a>

              <!-- buttons addto-cart and wishlist start -->
              <div class="p_icon">
                <a href="#" role="button">
                  <i class="ti-eye"></i>
                </a>
                <a class="wishbtn" data-id={{product.category_id}} role="button">
                  <i class="ti-heart"></i>
                </a>
                <a class="addtocartbtn" data-id={{product.category_id}} role="button">
                  <i class="ti-shopping-cart"></i>
                </a>
              </div>
              <!-- buttons addto-cart and wishlist start -->

            </div>
            <div class="product-btm">
              <a href="#" class="d-block">
                <h4>{{product.model}}</h4>
              </a>
              <div class="mt-3">
                <span class="mr-4">₹{{product.seller_price}}</span>
                <del>₹{{product.mrp}}</del>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
        <!-- iteratively display featured items here -->

      </div>
    </div>
  </section>
  <!--================ End Feature Product Area =================-->



  <!--================ Offer Area =================-->


  <section class="">
    <div class="row justify-content-center position-relative">
      <img src="{% static 'Images/offerbanner.jpg' %}" alt="">
      <div class="row position-absolute container">

        <div class="col-5 my-5">
          <div class="card border-warning mb-3 bg-transparent">
            <div class="card-header">OFFERS</div>
            <div class="card-body">
              <h5 class="card-title">First order</h5>
              <p class="card-text">Grab ypur firts order with amzing discout. 200 OFF on first purchase. COUPEN NO: 1440</p>
            </div>
            <div class="card-body">
              <h5 class="card-title">Golden coupen</h5>
              <p class="card-text">Purchese above 3000 and get the specal golden diccount coupen of 2000. COUPEN NO: 5555</p>
            </div>
            <div class="card-body">
              <h5 class="card-title">Silver coupen</h5>
              <p class="card-text">Purchese above 1000 and get the specal golden diccount coupen of 1000. COUPEN NO: 5555</p>
            </div>
            <div class="card-body">
              <h5 class="card-title">Special discount</h5>
              <p class="card-text">We have special discout for your every order. COUPEN NO: 1550</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--================ End Offer Area =================-->



  <!--================ New Product Area =================-->
  <section class="new_product_area section_gap_top section_gap_bottom_custom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="main_title">
            <h2><span>new products</span></h2>
            <p>Go with the trending and new products</p>
          </div>
        </div>
      </div>

      <div class="row">

        <!-- resently added one product  latest new prodect start-->
        <div class="col-lg-6">
          <div class="new_product">
            <h5 class="text-uppercase">collection of 2023</h5>
            <h3 class="text-uppercase">{{first_product.model}}</h3>
            
            <a href="{% url 'product' first_product.category_id %}">
              <img class="img-fluid" src="/media/{{first_product.image}}" alt="" />
            </a>
            
            <h4>₹{{first_product.seller_price}}</h4>
            <a class="main_btn addtocartbtn" data-id={{first_product.category_id}} role="button">Add to cart</a>
          </div>
        </div>
        <!-- resently added one product  latest new prodect start-->


        <div class="col-lg-6 mt-5 mt-lg-0">
          <div class="row">

            
            <!-- newly added rest of 4 products iteratively list out start-->
            
            {% if new_products %}
            {% for new_product in new_products %}

            <div class="col-md-6">
              <div class="single-product">
                <div class="product-img">
                  <a href="{% url 'product' new_product.category_id %}">
                    <img class="img-fluid w-100" src="/media/{{new_product.image}}" alt="" />
                  </a>
                    <div class="p_icon">
                    <a href="#">
                      <i class="ti-eye"></i>
                    </a>
                    <a class="wishbtn" data-id={{new_product.category_id}} role="button">
                      <i class="ti-heart"></i>
                    </a>
                    <a class="addtocartbtn" data-id={{new_product.category_id}} role="button">
                      <i class="ti-shopping-cart"></i>
                    </a>
                  </div>
                </div>
                <div class="product-btm">
                  <a href="#" class="d-block">
                    <h4>{{new_product.model}}</h4>
                  </a>
                  <div class="mt-3">
                    <span class="mr-4">₹{{new_product.seller_price}}</span>
                    <del>₹{{new_product.mrp}}</del>
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}
            {% endif %}

            <!-- newly added rest of 4 products iteratively list out start-->

          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End New Product Area =================-->



  <!--================ Inspired Product Area =================-->

  <section class="inspired_product_area section_gap_bottom_custom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="main_title">
            <h2><span>Inspired products</span></h2>
            <p>Choose from our most rated products</p>
          </div>
        </div>
      </div>

      <div class="row">
        
        <!-- most rated products iteratively list out start -->
        {% if most_rated_products %}
        {% for rated_product in most_rated_products %}
        
        <div class="col-6 col-md-3">
          <div class="single-product">
            <div class="product-img">
              <a href="{% url 'product' rated_product.category_id %}">
                <img class="img-fluid w-100" src="/media/{{rated_product.image}}" alt="" />
              </a>
                <div class="p_icon">
                <a href="#">
                  <i class="ti-eye"></i>
                </a>
                <a class="wishbtn" data-id={{rated_product.category_id}} role="button">
                  <i class="ti-heart"></i>
                </a>
                <a class="addtocartbtn" data-id={{rated_product.category_id}} role="button">
                  <i class="ti-shopping-cart"></i>
                </a>
              </div>
            </div>
            <div class="product-btm">
              <a href="#" class="d-block">
                <h4>{{rated_product.model}}</h4>
              </a>
              <div class="mt-3">
                <span class="mr-4">{{rated_product.seller_price}}</span>
                <del>{{rated_product.mrp}}</del>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
        {% endif %}

        <!-- most rated products iteratively list out start -->

        
      </div>
    </div>
  </section>
  <!--================ End Inspired Product Area =================-->


  {% endblock cyclonecontant %}