{% extends 'cyclonebase.html' %}
{% load static %}
{% block cyclonecontant %}

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div
          class="banner_content d-md-flex justify-content-between align-items-center">
          <div class="mb-3 mb-md-0">
            <h2>My Orders</h2>
            <p>Welocome to the profile</p>
          </div>
          <div class="page_link">
            <a href="#">Home</a>
            <a href="#">My profile</a>
          </div>
        </div>
      </div>
    </div>
</section>
<!--================End Home Banner Area =================-->



<!--================start My profile Area =================-->

<div class="container">
    <br>
    <div class="row">
        <div class="col-3">
            <ul class="list-group sticky-top">
                
                <a class="m-2" href="{% url 'userorder' %}"><li class="list-group-item">My order</li></a>
                <a class="m-2" href="{% url 'mywallet' %}"><li class="list-group-item">My wallet</li></a>
                <a class="m-2" href="{% url 'cart' %}"><li class="list-group-item">My cart</li></a>
                <a class="m-2" href="{% url 'wishlist' %}"><li class="list-group-item">My wishlist</li></a>
                <a class="m-2" href=""><li class="list-group-item">Change password</li></a>    
            </ul>
        </div>
        <div class="col-9">
            <h4>My orders</h4>
            <hr>
            
            <!-- orders iteratively listing start -->

            {% if order_data %}
            {% for order in order_data %}
            <div class="accordion accordion-flush border border-success border-4" id="accordionFlushExample">
                <div class="accordion-item">
                    <table class="table">
                        <tbody>
                          <tr>
                            <td>Order No:{{order.order_no}}</td>
                            <td>Quantity:{{order.order_quantity}}</td>
                            <td>Order status :{{order.order_status}}</td>
                          </tr>
                          
                        </tbody>
                      </table>
                  <h2 class="accordion-header" id="">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse_{{order.order_no}}" aria-expanded="false" aria-controls="flush-collapseOne">
                      Order info & Manage your order
                    </button>
                  </h2>
                  <div id="flush-collapse_{{order.order_no}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h5>products</h5>
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Model</th>
                                <th scope="col">Frame size</th>
                                <th scope="col">Color</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                              </tr>
                            </thead>
                            <tbody>
                                <!-- order items iteratively list here start -->
                                {% for item in order.order_items %}
                                <tr class="items_each">
                                    <td class="category_id_id" hidden>{{item.category_id__id}}</td>
                                    <td class="item_mode">{{item.category_id__product_id__model}}</td>
                                    <td>{{item.category_id__frame_size}}</td>
                                    <td>{{item.category_id__color}}</td>
                                    <td class="item_quantity">{{item.order_quantity}}</td>
                                    <td class="item_selle_Price">{{item.category_id__seller_price}}</td>
                                </tr>
                                {% endfor %}

                              <!-- order items iteratively list here start -->
                            
                            </tbody>
                        </table>
                        <br>
                        <h5>Shipping status</h5>
                        <div class="progress" role="progressbar" aria-label="Example 1px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 1px">
                            <div class="progress-bar" style="width: 25%"></div>
                        </div>
                        <div class="d-flex justify-content-between my-2">
                            <p class="rounded-pill border-bottom border-primary p-1">order placed</p>
                            <p class="rounded-pill border-bottom border-primary p-1">Packed by seller</p>
                            <p class="rounded-pill border-bottom border-primary p-1">Shipped</p>
                            <p class="rounded-pill border-bottom border-primary p-1">arrived nearest</p>
                            <p class="rounded-pill border-bottom border-primary p-1">out of delivery</p>
                            <p class="rounded-pill border-bottom border-primary p-1">Delivered</p>

                        </div>
                        <div class="progress" role="progressbar" aria-label="Example 20px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 20px">
                            <div class="progress-bar" style="width: 25%"></div>
                        </div>

                        <!-- Button trigger modal -->
                        <div class="d-flex justify-content-between">
                          <button type="button" value="{{order.order_no}}" class="btn btn-outline-secondary my-4 order_cancel" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Cancel order
                          </button>
                          <a role="button" href="{% url 'orderinvoicedownload' order.order_no %}" class="btn btn-outline-secondary my-4">
                            Download invoice
                          </a>
                        </div>
                        
                    </div>
                   
                  </div>
                </div>
                
            </div>
            <br>
            {% endfor %}
            {% endif %}
            <!-- orders iteratively listing end -->

            
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Cancel you order</h5>
                    <p id = "order_no_p"></p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">

                          <table class="table">
                            
                            <tbody class="item_row">
                              
                              <!-- data listed here using jquery when this pop ups -->

                            </tbody>
                          </table>

                            <label for="" class="form-label">Reason of cancel</label>
                            <input type="text" class="form-control" id="reason_of_cancel" aria-describedby="emailHelp">
                            <label for="" class="form-label">Payment return option</label>
                            <select class="form-select" id="payment_return_option" aria-label="Default select example">
                                <option selected>Add to wallet</option>
                                <option value="1">Return to account</option>
                                <option value="2">Order another</option>
                            </select>

                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" id="order_cancel_btn" class="btn btn-secondary" data-bs-dismiss="modal">Submit</button>
                    </div>
                </div>
              </div>
            </div>
            

        </div>
    </div>
</div>

<!--================start My profile Area =================-->

<script>

    // updating order return popup order item list
    $(".order_cancel").on('click', function() {
        console.log("cancell pop up")
        let test = $(this).val()
        $("#order_no_p").text(test)
        
        $(".item_row").empty()

        $(".items_each").each(function() {

          var category_id_id = $(this).find(".category_id_id").text()
          var item_model = $(this).find(".item_mode").text()
          var item_quantity = $(this).find(".item_quantity").text()
          var item_selle_Price = $(this).find(".item_selle_Price").text()
          
          var td_input = "<input type="+"checkbox"+" value=" +category_id_id+ " class=" +"categoryid_id"+ " >"
          
          var item_table_row = "<tr><td>" + td_input + "<td/><td>" + item_model + "<td/><td>" + item_selle_Price + "<td/><td>" + item_quantity + "</td><tr/>" 
          $(".item_row").append(item_table_row)
        
        })
        

      
    })

    $("#order_cancel_btn").on('click', function() {
        console.log("cancel button clicked")

        var cancel_item_id = new Array()
        $(".categoryid_id").each(function() {
   
          cancel_item_id.push($(this).val())
          
        })

        console.log(cancel_item_id)
        let order_no = $("#order_no_p").text()
        let reason_of_cancel = $("#reason_of_cancel").val()
        let payment_return_option = $("#payment_return_option").val()
        
        data = {"order_no":order_no, "cancel_item_id[]":cancel_item_id, "reason_of_cancel":reason_of_cancel,"payment_return_option":payment_return_option,"csrfmiddlewaretoken": '{{ csrf_token }}'}

        $.ajax({
            method:"POST",
            url:"{% url 'usercancelorder' %}",
            data:data,
            success: function(data) {
                console.log(data.status)
                console.log(data.message)
                toastr.options.timeOut = 500
                toastr.info(data.message)
            }

        })
        
    })

    
</script>

{% endblock cyclonecontant %}