{% extends 'cyclonebase.html' %}

{% block title %}Cyclone | Password reset{% endblock title %}

<!-- login section  -->
{% block cyclonecontant %}

<div class="bodyimg">
    <div class="container">
        <div class="row align-items-center vh-100">
            <div class="col-6">
                <h1>Reset your password!!</h1>
                <p>Reset your password using otp.</p>
            </div>
            <div class="col-6 p-5 rounded-2 bg-dark opacity-75">
                <h3>Reset password</h3>
                <hr>
                
                <form method="POST" id="password_reset_form">
                {% csrf_token %}

                    <div class="mb-3">
                      <label for="" class="form-label">Enter your new password</label>
                      <input type="Password" class="form-control bg-transparent" name = "password1" id="password1" aria-describedby="">
                      
                    </div>
                    
                    <div class="mb-3">
                      <label for="" class="form-label">Re enter the password</label>
                      <input type="password" class="form-control bg-transparent" name="password2" id="password2">
                    </div>

                    <br>
                    <p id="otp_status"></p>
                    <div class="d-grid gap-2 userloginbtn">
                        <button class="btn login_btn" id="reset_password" type="button">SUBMIT</button>
                    </div>
                    
                </form>
            
                


            </div>
        </div>
    </div>
</div>

<script>

$("#reset_password").on('click', function() {
    console.log("password reset form submission")

    if ($("#password1").val() == $("#password2").val()) {
        console.log("password match")

        $("#password_reset_form").submit()
    } 
    else{
        console.log("password not match")
    }
})

</script>


{% endblock cyclonecontant %}