
{% extends 'cyclonebase.html' %}
{% load static %}
{% block cyclonecontant %}

    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div class="banner_content d-md-flex justify-content-between align-items-center">
            <div class="mb-3 mb-md-0">
              <h2>Shop Category</h2>
              <p>Grab you favorite</p>
            </div>
            <div class="page_link">
              <a href="index.html">Home</a>
              <a href="category.html">Category</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Category Product Area =================-->
    <section class="cat_product_area section_gap">
      <div class="container">
        <div class="row flex-row-reverse">


          <!-- <<<<<<<<<<<right area start>>>>>>>>>>>>>>>> -->
          <div class="col-lg-9">
            
            <div class="">
              <div class="form-check form-switch">
                <input class="form-check-input filter_checkbox" id="price_filter_checkbox" type="checkbox" role="switch" id="">
                <label class="form-check-label" for="flexSwitchCheckChecked">Applay price filter</label>
              </div>
              <input type="range" class="form-range filter_checkbox" id="price_range" min="1" max="6" id="">
              <div class="d-flex justify-content-between">
                <p>Below 10k</p>
                <p>20k</p>
                <p>30k</p>
                <p>40k</p>
                <p>50k</p>
                <p>Above 50k</p>
              </div>
            </div>

            <div class="latest_product_inner">
              <div class="row" id="filter_section">
                
                {% if cart_items %}
                {% for product in cart_items %}
                <!-- product tiles iteratively display start -->
                <div class="col-md-6">

                  <div class="card p-3" style="width: 24rem;">
                    <a href="{% url 'product' product.category_id %}">
                      <div class="row">
                        <div class="col-8">
                          <div class=""><h4 class="m-0">{{product.model}}</h4></div>
                          <!-- star rating -->
                          <div>
                            <span class="fa fa-star {% if product.average_star_rating >= 1 %}checked{% endif %}"></span>
                            <span class="fa fa-star {% if product.average_star_rating >= 2 %}checked{% endif %}"></span>
                            <span class="fa fa-star {% if product.average_star_rating >= 3 %}checked{% endif %}"></span>
                            <span class="fa fa-star {% if product.average_star_rating >= 4 %}checked{% endif %}"></span>
                            <span class="fa fa-star {% if product.average_star_rating >= 5 %}checked{% endif %}"></span>
                          </div>
  
                          <!-- color circle -->
                          <div>
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            <i class="fa fa-circle" aria-hidden="true"></i> 
                          </div>
                        </div>
                        <!-- offer section start -->
                        <div class="col-4">
                          {% if product.is_discounted %}
                          <div class="bg-danger rounded-circle p-1">
                            <h3>25%</h3>
                            <h4>OFF</h4>
                          </div>
                          {% endif %}
                        </div>
                        <!-- offer section start -->
                      </div>
                      <div class="">
                        <img src="/media/{{product.image}}" class="card-img-top" alt="">
                      </div>
                      
                      <div class="row">
                        <div class="col-4 align-middle"><p>{{product.break_type}}</p></div>
                        <div class="col-4 d-flex justify-content-center"><p>{{product.gear_type}}</p></div>
                        <div class="col-4 d-flex justify-content-end"><p>{{product.suspention}}</p></div>
  
                      </div>
                      <div class="d-flex justify-content-between">
                        <h4 class="fw-bolder">₹{{product.seller_price}}</h4>
                        <a class="" href="#" role="">Compare with</a>
                      </div>
                      <!-- add some thicknes to hr tag -->
                      <hr>
                    </a>
                    
                    <div class="row">
                      <div class="d-flex col-4">
                        <a class="wishbtn" role="button" data-id={{product.category_id}}><img class="navimg" src="{% static 'Images/like.png' %}" alt=""></a>
                        
                      </div>
                      <div class="d-flex justify-content-center col-4">
                        <a class="addtocartbtn" role="button" data-id={{product.category_id}}><img class="navimg" src="{% static 'Images/cart.png' %}" alt=""></a>
                      </div>
                      <div class="d-flex justify-content-end col-4">
                        <a class="btn btn-outline-success" role="button">BUY NOW</a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                {% endif %}
                <!-- product tiles iteratively display end -->

              </div>
            </div>
          </div>
          <!-- <<<<<<<<<<<right area end >>>>>>>>>>>>>>>> -->
          

          <div class="col-lg-3">
            <div class="left_sidebar_area">
              <aside class="left_widgets p_filter_widgets">
                <div class="l_w_title">
                  <h3>Browse Categories</h3>
                </div>
                <div class="widgets_inner">

                  <div class="form-check my-2">
                    <input class="form-check-input filter_checkbox" data-filter="bike_type" type="checkbox" value="Mountain Bike" id="">
                    <label class="form-check-label" for="flexCheckDefault">
                      Mountain Bikes
                    </label>
                  </div>
                  <div class="form-check my-2">
                    <input class="form-check-input filter_checkbox" data-filter="bike_type" type="checkbox" value="Road bike" id="">
                    <label class="form-check-label" for="flexCheckChecked">
                      Road Bikes
                    </label>
                  </div>
                  <div class="form-check my-2">
                    <input class="form-check-input filter_checkbox" data-filter="bike_type" type="checkbox" value="Hybrid bike" id="">
                    <label class="form-check-label" for="flexCheckDefault">
                      Hybrid bikes
                    </label>
                  </div>
                  <div class="form-check my-2">
                    <input class="form-check-input filter_checkbox" data-filter="bike_type" type="checkbox" value="Ladies bike" id="">
                    <label class="form-check-label" for="flexCheckChecked">
                      Ladies Bikes
                    </label>
                  </div>
                  <div class="form-check my-2">
                    <input class="form-check-input filter_checkbox" data-filter="bike_type" type="checkbox" value="Kids bike" id="" >
                    <label class="form-check-label" for="flexCheckChecked">
                      Kids Bikes
                    </label>
                  </div>

                </div> 
              </aside>

              <aside class="left_widgets p_filter_widgets">
                <div class="l_w_title">
                  <h3>Product Brand</h3>
                </div>
                <div class="widgets_inner">
                  
                  <div class="form-check my-2">
                    <input class="form-check-input filter_checkbox" data-filter="company" type="checkbox" value="firefox" id="">
                    <label class="form-check-label" for="flexCheckDefault">
                      Firefox
                    </label>
                  </div>
                  <div class="form-check my-2">
                    <input class="form-check-input filter_checkbox" data-filter="company" type="checkbox" value="hero" id="">
                    <label class="form-check-label" for="flexCheckChecked">
                      Hero
                    </label>
                  </div>
                  <div class="form-check my-2">
                    <input class="form-check-input filter_checkbox" data-filter="company" type="checkbox" value="java" id="">
                    <label class="form-check-label" for="flexCheckDefault">
                      Java
                    </label>
                  </div>
                  <div class="form-check my-2">
                    <input class="form-check-input filter_checkbox" data-filter="company" type="checkbox" value="trinix" id="">
                    <label class="form-check-label" for="flexCheckChecked">
                      Trinix
                    </label>
                  </div>
                  <div class="form-check my-2">
                    <input class="form-check-input filter_checkbox" data-filter="company" type="checkbox" value="b_twin" id="" >
                    <label class="form-check-label" for="flexCheckChecked">
                      B twin
                    </label>
                  </div>

                </div>
              </aside>

              <aside class="left_widgets p_filter_widgets">
                <div class="l_w_title">
                  <h3>Color Filter</h3>
                </div>
                <div class="widgets_inner">
                  
                  <div class="form-check my-2">
                    <input class="form-check-input filter_checkbox" data-filter="color" type="checkbox" value="black" id="">
                    <label class="form-check-label" for="flexCheckDefault">
                      Black
                    </label>
                  </div>
                  <div class="form-check my-2">
                    <input class="form-check-input filter_checkbox" data-filter="color" type="checkbox" value="white" id="">
                    <label class="form-check-label" for="flexCheckChecked">
                      White
                    </label>
                  </div>
                  <div class="form-check my-2">
                    <input class="form-check-input filter_checkbox" data-filter="color" type="checkbox" value="blue" id="">
                    <label class="form-check-label" for="flexCheckDefault">
                      Blue
                    </label>
                  </div>
                  <div class="form-check my-2">
                    <input class="form-check-input filter_checkbox" data-filter="color" type="checkbox" value="red" id="">
                    <label class="form-check-label " for="flexCheckChecked">
                      Red
                    </label>
                  </div>
                  <div class="form-check my-2">
                    <input class="form-check-input filter_checkbox" data-filter="color" type="checkbox" value="yellow" id="" >
                    <label class="form-check-label" for="flexCheckChecked">
                      Yellow
                    </label>
                  </div>

                </div>
              </aside>

              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Category Product Area =================-->
    <script>

      $(".filter_checkbox").on('click', function() {
        var bike_type = []
        var brand = []
        var color = []
        var price_filtered_val = []

        if ($("#price_filter_checkbox").is(':checked')) {
          price_filtered_val.push($("#price_range").val() )

        }

        
        $(".filter_checkbox:checked").each(function() {
          var filter_cat = $(this).data('filter')
          
          if ( filter_cat == "bike_type") {
            bike_type.push($(this).val())
          }
          else if( filter_cat == "company"){
            brand.push($(this).val())
          }
          else if( filter_cat == "color") {
            color.push($(this).val())
          }
        })

        console.log(bike_type)
        console.log(brand)
        console.log(color)
        console.log(price_filtered_val)

        data = {bike_type:bike_type, brand:brand, color:color,price_filtered_val:price_filtered_val ,csrfmiddlewaretoken: '{{ csrf_token }}'}

        $.ajax({
          method:"POST",
          url:"{% url 'categoryfilter' %}",
          data:data,
          
          success: function(data) {
            console.log("code run success")
            $("#filter_section").html(data.html)
            
          }
        })
        
      })

    </script>
    
{% endblock cyclonecontant %}