    <script>

    $("#company_selecter").on('change', function() {
        console.log("change value")
        
    })

    $(".edituseracces_btn").on('click', function() {
        console.log("button cliked")
        let email = $(this).val()
        var access_button = $(this)
        data = {email:email, csrfmiddlewaretoken: '{{ csrf_token }}'}
        if(confirm("Do you want to Block/unblock the user ?") == false){
            return
        }

        $.ajax({
            url: "{% url 'edituseracces' %}",
            method: "POST",
            data:data,
            success: function(data) {
                console.log(data.status)
                console.log(data.message)
                if (data.message == false){
                    access_button.text('Unblock')
                }
                else{
                    access_button.text('Block')
                }

            }

        })
    })

    


</script>