{% extends 'adminbase.html' %}

{% load static %}


{% block admintitle %}Admin | userifo{% endblock admintitle %}
{% block logoutbutton %}
<a class="btn btn-outline-secondary" href="{% url 'logout' %}" role="button"><img class="navimg" src="{% static 'Images/user.png' %}"  alt="">Logout</a>
{% endblock logoutbutton %}


{% block adminsection %}
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action">Dashboard</a>
                <a href="{% url 'sellerinfo' %}" class="list-group-item list-group-item-action">Sellers info</a>
                <a href="{% url 'userinfo' %}" class="list-group-item list-group-item-action active">Users info</a>
                <a href="{% url 'products' %}" class="list-group-item list-group-item-action">Products</a>
                <a href="{% url 'category' %}" class="list-group-item list-group-item-action">Category</a>
                <a href="{% url 'orders' %}" class="list-group-item list-group-item-action">Orders</a>
                <a href="{% url 'coupenmanagemant' %}" class="list-group-item list-group-item-action">Coupen managemant</a>
                <a href="{% url 'offermanagement' %}" class="list-group-item list-group-item-action">Offer managemant</a>
                <a href="{% url 'reports' %}" class="list-group-item list-group-item-action">Reports</a>
            </div>

        </div>
        <div class="col-md-9">
            <div class="d-flex justify-content-between">
                <h3>User management</h3>
                <form class="d-flex">
                  <input class="form-control me-2 bg-transparent" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <hr>
            
            <!-- table for listing products -->
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">EMAIL ID</th>
                    <th scope="col">NAME</th>
                    <th scope="col">STATUS</th>
                    <th scope="col"></th>

                  </tr>
                </thead>
                <tbody>
                    <!-- dispplay products iteratively START-->
                  {% for user in data %}
                  <tr id="user_{{user.email}}">
                    <th scope="row">{{user.email}}</th>
                    <td>{{user.first_name}}</td>
                    <td>{{user.is_active}}</td>
                    <td>
                      <!-- change button name to block and unblock if acording to is active value -->
                      <button class="btn btn-outline-success edituseracces_btn" id="{{user.email}}" value={{user.email}} type="button">
                        {% if user.is_active %}Block 
                        {% else %}Unblock
                        {% endif %}

                      </button>
                    </td>
                  </tr>
                  {% endfor %}
                  <!-- dispplay products iteratively END-->
                  <!-- here the products displays  -->
                  <!-- puth the above tr inside for loop and replace value with data using jinja tag -->
                
                </tbody>
            </table>


        </div>
    </div>

</div>

{% endblock adminsection %}