{% extends 'adminbase.html' %}

{% load static %}


{% block admintitle %}Admin | editcategory{% endblock admintitle %}
{% block logoutbutton %}
<a class="btn btn-outline-secondary" href="{% url 'logout' %}" role="button"><img class="navimg" src="{% static 'Images/user.png' %}"  alt="">Logout</a>
{% endblock logoutbutton %}


{% block adminsection %}
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                
                <a href="" class="list-group-item list-group-item-action">Dashboard</a>
                <a href="{% url 'sellerinfo' %}" class="list-group-item list-group-item-action">Sellers info</a>
                <a href="{% url 'userinfo' %}" class="list-group-item list-group-item-action">Users info</a>
                <a href="{% url 'products' %}" class="list-group-item list-group-item-action">Products</a>
                <a href="{% url 'category' %}" class="list-group-item list-group-item-action active">Category</a>
                <a href="{% url 'orders' %}" class="list-group-item list-group-item-action">Orders</a>
                <a href="{% url 'coupenmanagemant' %}" class="list-group-item list-group-item-action">Coupen managemant</a>
                <a href="{% url 'offermanagement' %}" class="list-group-item list-group-item-action">Offer managemant</a>
                <a href="{% url 'reports' %}" class="list-group-item list-group-item-action">Reports</a>

            </div>

        </div>
        <div class="col-md-9">
            <h3>Edit category</h3>
            <hr>
            <br>
            <br>
            <h5>Basic informations</h5>
            <hr>
            <br>
            <!-- add category start -->
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col">

                        <!-- select company for adding categories -->
                    
                        <h4>company</h4>
                        <p>{{productcat.product_id.company}}</p>

                    </div>

                    <div class="col"> 

                        <!-- select model for adding categories -->
                        
                        <h4>model</h4>
                        <p>{{productcat.product_id.model}}</p>
                    </div>
                  
                </div>
                <br>
                <br>
                <h5>Catogary detailes</h5>
                <hr>
                <br>
                <div class="row">
                    <div class="col">

                        <!-- frame size -->
                        <label>Frame size</label>
                        <select class="form-control bg-transparent" name="frame_size" id="exampleFormControlSelect1">
                            <option {% if productcat.frame_size == 35 %}selected{% endif %}>35</option>
                            <option {% if productcat.frame_size == 38 %}selected{% endif %}>38</option>
                            <option {% if productcat.frame_size == 41 %}selected{% endif %}>41</option>
                            <option {% if productcat.frame_size == 43 %}selected{% endif %}>43</option>
                            <option {% if productcat.frame_size == 46 %}selected{% endif %}>46</option>
                            <option {% if productcat.frame_size == 48 %}selected{% endif %}>48</option>
                            <option {% if productcat.frame_size == 53 %}selected{% endif %}>53</option>
                            <option {% if productcat.frame_size == 56 %}selected{% endif %}>56</option>

                        </select>
                        <br>

                        <!--  color -->
                        <label>Color</label>
                        <select class="form-control bg-transparent" name="color" id="exampleFormControlSelect1">
                            <option {% if productcat.color == "black" %}selected{% endif %}>black</option>
                            <option {% if productcat.color == "white" %}selected{% endif %}>white</option>
                            <option {% if productcat.color == "blue" %}selected{% endif %}>blue</option>
                            <option {% if productcat.color == "green" %}selected{% endif %}>green</option>
                            <option {% if productcat.color == "red" %}selected{% endif %}>red</option>
                            <option {% if productcat.color == "orange" %}selected{% endif %}>orange</option>
                            <option {% if productcat.color == "violet" %}selected{% endif %}>violet</option>
                            
                        </select>
                    </div>
                    <div class="col">

                        <!-- break type -->
                        <label>Break type</label>
                        <select class="form-select bg-transparent" name="break_type" aria-label="Default select example">
                            <option {% if productcat.break_type == "mechanical break" %}selected{% endif %} value="mechanical break">mechanical break</option>
                            <option {% if productcat.break_type == "disc break" %}selected{% endif %} value="disc break">disc break</option>
                            <option {% if productcat.break_type == "hydroulic break" %}selected{% endif %} value="hydroulic break">hydroulic break</option>
                            
                        </select>
                        <br>

                        <!-- gear type -->
                        <label>Gear type</label>
                        <input type="text" name="gear_type" class="bg-transparent prodctfld d-block" placeholder="Enter company name" value="{{productcat.gear_type}}">
                        
                    </div>
                </div>
                <br><br>    


                <!-- image -->
                <h5>Image section</h5>
                <hr>
                <br>
                <input type="file" name="product_image">
                <input type="file" name="product_image_2">
                <input type="file" name="product_image_3">

                <br><br>

                <br>

                <!-- price -->
                <h5>Price detailes</h5>
                <hr>
                <br>

                <!-- mrp -->
                <label>MRP</label>
                <input type="text" name="mrp" class="bg-transparent prodctfld d-block" placeholder="Enter company name" value="{{productcat.mrp}}">
                <br>

                <!-- selling price -->
                <label>Selling price</label>
                <input type="text" name="seller_price" class="bg-transparent prodctfld d-block" placeholder="Enter company name" value="{{productcat.seller_price}}">
                <br>

                <!-- quantity -->
                <label>Quantity</label>
                <input type="text" name="quantity" class="bg-transparent prodctfld d-block" placeholder="Enter company name" value="{{productcat.quantity}}">
                <br>

                <!-- is discounted -->
                <label for="">is the product in discount category ?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" {% if productcat.is_discounted == True %}checked{% endif %}>
                    <label class="form-check-label" for="flexRadioDefault1">
                      Yes
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" {% if productcat.is_discounted == False %}checked{% endif %}>
                    <label class="form-check-label" for="flexRadioDefault2">
                      No
                    </label>
                </div>
                  
                 <br>
               
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <!-- add product start -->

        </div>
    </div>

</div>

{% endblock adminsection %}