{% extends 'adminbase.html' %}

{% load static %}


{% block admintitle %}Admin | Category{% endblock admintitle %}
{% block logoutbutton %}
<a class="btn btn-outline-secondary" href="{% url 'logout' %}" role="button"><img class="navimg" src="{% static 'Images/user.png' %}"  alt="">Logout</a>
{% endblock logoutbutton %}


{% block adminsection %}
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                
                <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action">Dashboard</a>
                <a href="{% url 'sellerinfo' %}" class="list-group-item list-group-item-action">Sellers info</a>
                <a href="{% url 'userinfo' %}" class="list-group-item list-group-item-action">Users info</a>
                <a href="{% url 'products' %}" class="list-group-item list-group-item-action">Products</a>
                <a href="{% url 'category' %}" class="list-group-item list-group-item-action active">Category</a>
                <a href="{% url 'orders' %}" class="list-group-item list-group-item-action">Orders</a>
                <a href="{% url 'coupenmanagemant' %}" class="list-group-item list-group-item-action">Coupen managemant</a>
                <a href="{% url 'offermanagement' %}" class="list-group-item list-group-item-action">Offer managemant</a>
                <a href="{% url 'reports' %}" class="list-group-item list-group-item-action">Reports</a>

            </div>

        </div>
        <div class="col-md-9">
            <div class="d-flex justify-content-between">
                <h3>Category</h3>
                <form class="d-flex">
                  <input class="form-control me-2 bg-transparent" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <hr>

            <!-- add category button -->
            <a class="btn btn-primary" href="{% url 'addcategory' %}" role="button">Add category</a>
            
            <!-- table for listing products -->
            <table class="table">
                <thead>
                  <tr>
                    
                    <th scope="col">COMPANY</th>
                    <th scope="col">MODEL</th>
                    <th scope="col">FRAME SIZE</th>
                    <th scope="col">BREAK TYPE</th>
                    <th scope="col">COLOR</th>
                    <th scope="col">STOCK</th>
                    <th scope="col">STATUS</th>

                    <th scope="col"></th>
                    <th scope="col"></th>


                  </tr>
                </thead>
                <tbody>
                    <!-- dispplay products iteratively -->
                  
                  {% if categories %}
                  {% for category in categories %}
                  <tr>
                    
                    <td>{{category.product_id__company}}</td>
                    <td>{{category.product_id__model}}</td>
                    <td>{{category.frame_size}}</td>
                    <td>{{category.break_type}}</td>
                    <td>{{category.color}}</td>
                    <td>{{category.quantity}}</td>
                    <td id="{{category.id}}">
                      {% if category.is_discontinued %}
                        Discontinued
                      {% else %}
                        Available
                      {% endif %}
                    </td>
                    
                    <!-- edit and remove button -->
                    <td>
                      <a class="btn btn-outline-success" href="{% url 'editcategory' category.id %}" role="button">Edit</a>
                    </td>
                    <td>
                      <button type="button" class="btn btn-outline-danger delete_category_item" data-id={{category.id}} >
                        {% if category.is_discontinued %}
                          Add
                        {% else %}
                          Discontinue
                        {% endif %}
                      </button>
                    </td>
                  </tr>
                  {% endfor %}
                  {% endif %}

                  <!-- here the products displays  -->
                  <!-- puth the above tr inside for loop and replace value with data using jinja tag -->
                
                </tbody>
            </table>
        </div>
    </div>

</div>

<script>

  $(document).ready(function() {
    {% if messages %}
      {% for info in messages %}
        toastr.info("{{info}}")
      {% endfor %}
    {% endif %}
  })

  //delete category  
  $(".delete_category_item").on('click', function() {
    console.log("delete category item")
    
    var category_id = $(this).data('id')
    var dlt_button = $(this)
    data = {category_id:category_id}

    $.ajax({

      method: "GET",
      url: "{% url 'deletecategory' %}",
      data: data,

      success: function(data) {
        
        console.log("code run success")
        console.log(data.status)
        toastr.info(data.message,{timeOut: 500})

        if (data.message == "category discontinued") {
          $("#"+category_id).text("Discontinued")
          $(dlt_button).html("Add")
        }
        else{
          $("#"+category_id).text("Available")
          $(dlt_button).html("Discontinue")
        }
        
      }
    })

  })
</script>

{% endblock adminsection %}

