{% extends 'adminbase.html' %}

{% load static %}


{% block admintitle %}Admin | reports{% endblock admintitle %}
{% block logoutbutton %}
<a class="btn btn-outline-secondary" href="{% url 'logout' %}" role="button"><img class="navimg" src="{% static 'Images/user.png' %}"  alt="">Logout</a>
{% endblock logoutbutton %}


{% block adminsection %}

<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                
                <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action">Dashboard</a>
                <a href="{% url 'sellerinfo' %}" class="list-group-item list-group-item-action">Sellers info</a>
                <a href="{% url 'userinfo' %}" class="list-group-item list-group-item-action">Users info</a>
                <a href="{% url 'products' %}" class="list-group-item list-group-item-action">Products</a>
                <a href="{% url 'category' %}" class="list-group-item list-group-item-action">Category</a>
                <a href="{% url 'orders' %}" class="list-group-item list-group-item-action">Orders</a>
                <a href="{% url 'coupenmanagemant' %}" class="list-group-item list-group-item-action">Coupen managemant</a>
                <a href="{% url 'offermanagement' %}" class="list-group-item list-group-item-action">Offer managemant</a>
                <a href="{% url 'reports' %}" class="list-group-item list-group-item-action active">Reports</a>

            </div>

        </div>
        <div class="col-md-9">
            <h3>Reports</h3>
            <hr>

            <div class="card text-dark bg-light mb-3">
                <div class="card-body">
                    <div class="d-flex">
                        <p class="m-3">Generate report from</p>
                        <input id="report_from" class="m-3" type="date" min="">
                        <p class="m-3">To</p>
                        <input id="report_to" class="m-3" type="date">
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button type="button" id="generate_sales_report" class="btn btn-secondary">Generate</button>
                        </div>
                        <div class="col-6 d-flex justify-content-between">
                            <div>
                                <h5>Download report :</h5>
                            </div>
                            <div>
                                <button type="button" id="csv_report_generator" class="btn btn-primary mx-3">EXCEL</button>
                                <button type="button" id="pdf_report_generator" class="btn btn-primary mx-3">PDF</button>
                            </div>
                        </div>

                    </div>
                    <p id="report_msg"></p>
                </div>
            </div>
            
            <div class="card text-dark bg-light mb-3">
                <div class="card-header">Report</div>
                <div class="card-body">
                    <table class="table">
                        <tbody>

                          <tr>
                            <td>total shipments</td>
                            <td id="total_shipments">data</td>
                          </tr>
                          <tr>
                            <td>total business</td>
                            <td id="total_business">data</td>
                          </tr>
                          <tr>
                            <td>total cod order</td>
                            <td id="total_cod_order">data</td>
                          </tr>
                          <tr>
                            <td>total payed orders</td>
                            <td id="total_payed_orders">data</td>
                          </tr>
                          <tr>
                            <td>canceled orders</td>
                            <td id="canceled_orders">data</td>
                          </tr>
                          <tr>
                            <td>total users</td>
                            <td id="total_users">data</td>
                          </tr>
                          <tr>
                            <td>total product quantity</td>
                            <td id="total_product_quantity">data</td>
                          </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </div>

</div>

<script>
    $("#generate_sales_report").on('click', function() {
        console.log("report generating button")
        var from_date = $("#report_from").val()
        var to_date = $("#report_to").val()
        
        if (from_date == "" || to_date == "") {
            $("#report_msg").text("Give a date")
            return
        }
        else{
            $("#report_msg").text("")
        }
        data = {from_date:from_date, to_date:to_date}

        $.ajax({
            method:"GET",
            url:"{% url 'reportgenerator' %}",
            data:data,
            success: function(data) {
                console.log("code run success")
                console.log(data.status)

                $("#total_shipments").text(data.report['total_shipments'])
                $("#total_business").text(data.report['total_business'])
                $("#total_cod_order").text(data.report['total_cod_order'])
                $("#total_payed_orders").text(data.report['total_payed_orders'])
                $("#canceled_orders").text(data.report['canceled_orders'])
                $("#total_users").text(data.report['total_users'])
                $("#total_product_quantity").text(data.report['total_product_quantity'])
                
                
            }            
        })
    })


    $("#pdf_report_generator").on('click', function() {
        console.log("pdf generator")
        var from_date = $("#report_from").val()
        var to_date = $("#report_to").val()

        if (from_date == "" || to_date == "") {
            toastr.warning("please provide valied dates")
            return
        }

        var url = "{% url 'pdfreportdownloader' %}?from_date=" + from_date + "&to_date=" + to_date
        window.location.href = url;
    })

    $("#csv_report_generator").on('click', function() {
        console.log("csv_generator")
        var from_date = $("#report_from").val()
        var to_date = $("#report_to").val()
        
        if (from_date == "" || to_date == "") {
            toastr.warning("please provide valied dates")
            return
        }

        window.location.href = "{% url 'csvreportdownloader' %}?from_date=" + from_date + "&to_date=" + to_date
    })



</script>

{% endblock adminsection %}