{% extends 'adminbase.html' %}

{% load static %}


{% block admintitle %}Admin | addproduct{% endblock admintitle %}
{% block logoutbutton %}
<a class="btn btn-outline-secondary" href="{% url 'logout' %}" role="button"><img class="navimg" src="{% static 'Images/user.png' %}"  alt="">Logout</a>
{% endblock logoutbutton %}


{% block adminsection %}
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                
                <a href="" class="list-group-item list-group-item-action">Dashboard</a>
                <a href="{% url 'sellerinfo' %}" class="list-group-item list-group-item-action">Sellers info</a>
                <a href="{% url 'userinfo' %}" class="list-group-item list-group-item-action">Users info</a>
                <a href="{% url 'products' %}" class="list-group-item list-group-item-action active">Products</a>
                <a href="{% url 'category' %}" class="list-group-item list-group-item-action">Category</a>
                <a href="{% url 'orders' %}" class="list-group-item list-group-item-action">Orders</a>
                <a href="{% url 'coupenmanagemant' %}" class="list-group-item list-group-item-action">Coupen managemant</a>
                <a href="{% url 'offermanagement' %}" class="list-group-item list-group-item-action">Offer managemant</a>
                <a href="{% url 'reports' %}" class="list-group-item list-group-item-action">Reports</a>

            </div>

        </div>
        <div class="col-md-9">
            <h3>Add new product</h3>
            <hr>
            <br>
            <br>
            <h5>Basic informations</h5>
            <hr>
            <br>
            <!-- add product start -->
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        
                        <!-- company charecter field -->
                        <label>Company</label>
                        <input type="text" name="company" class="bg-transparent prodctfld d-block" placeholder="Enter company name">
                        <br>

                        <!-- model charecter field -->
                        <label>Model</label>
                        <input type="text" name="model" class="bg-transparent prodctfld d-block" placeholder="Enter company name">
                        <br>

                        <!-- radio buttons for wheel size integer-->
                        <label>Wheel size</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="wheel_size" id="inlineRadio2" value="32">
                                <label class="form-check-label" for="inlineRadio2">32</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="wheel_size" id="inlineRadio2" value="35">
                                <label class="form-check-label" for="inlineRadio2">35</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="wheel_size" id="inlineRadio2" value="38">
                                <label class="form-check-label" for="inlineRadio2">38</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="wheel_size" id="inlineRadio2" value="44">
                                <label class="form-check-label" for="inlineRadio2">44</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="wheel_size"   id="inlineRadio2" value="50">
                                <label class="form-check-label" for="inlineRadio2">50</label>
                            </div>
                            
                        </div>
                        <br><hr>

                        <!-- suspention -->
                        <label>Suspention</label>
                        <select class="bg-transparent form-select" name="suspention" aria-label="Default select example">
                            <option selected value="No suspention">No suspention</option>
                            <option value="Front suspention">Front suspention</option>
                            <option value="Rear suspention">Rear suspention</option>
                            
                        </select>
                        <br><hr>
                        
                        <!-- internal cabling boolian -->
                        <label>Internal cabling</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="internal_cabling" value="True" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Yes
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="internal_cabling" value="False" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              No
                            </label>
                        </div>

                    </div>

                    <div class="col">

                        <!-- bike type -->
                        <label>Bike type</label>
                        <select class="form-control bg-transparent" name="bike_type" id="exampleFormControlSelect1">
                            <option>Mountain Bike</option>
                            <option>Road bike</option>
                            <option>Hybrid bike</option>
                            <option>Kids bike</option>
                            <option>Ladies bike</option>
                        </select>
                        <br>

                        <!-- gender_cat -->
                        <label>Gender</label>
                        <select class="form-control bg-transparent" name="gender_cat" id="exampleFormControlSelect1">
                            <option>Unisex</option>
                            <option>Male</option>
                            <option>Female</option>
                        
                        </select>
                    </div>

                  
                </div>
          
                <br>
                <h5>Discriptions detailes</h5>
                <hr>
                <br>

                <!--  4 type descriptions -->
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Terrain Description</label>
                            <textarea class="form-control bg-transparent" name="terrain_description" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Strength Descriptipon</label>
                            <textarea class="form-control bg-transparent" name="strength_description" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>

                    </div>
                    <div class="col-6">

                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Perfomance Description</label>
                            <textarea class="form-control bg-transparent" name="perfomance_description" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Pricision Description</label>
                            <textarea class="form-control bg-transparent" name="precision_description" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>

                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <!-- add product start -->

        </div>
    </div>

</div>

<script>
    $(document).ready(function() {
        {% if messages %}
            {% for message in messages %}
            console.log("message")
            toastr.info("{{message}}")
            {% endfor %}
        {% endif %}
    })
</script>

{% endblock adminsection %}