{% extends 'adminbase.html' %}

{% load static %}


{% block admintitle %}Admin | Offer managemant{% endblock admintitle %}
{% block logoutbutton %}
<a class="btn btn-outline-secondary" href="{% url 'logout' %}" role="button"><img class="navimg" src="{% static 'Images/user.png' %}"  alt="">Logout</a>
{% endblock logoutbutton %}


{% block adminsection %}
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                
                <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action">Dashboard</a>
                <a href="{% url 'sellerinfo' %}" class="list-group-item list-group-item-action">Sellers info</a>
                <a href="{% url 'userinfo' %}" class="list-group-item list-group-item-action">Users info</a>
                <a href="{% url 'products' %}" class="list-group-item list-group-item-action">Products</a>
                <a href="{% url 'category' %}" class="list-group-item list-group-item-action">Category</a>
                <a href="{% url 'orders' %}" class="list-group-item list-group-item-action">Orders</a>
                <a href="{% url 'coupenmanagemant' %}" class="list-group-item list-group-item-action">Coupen managemant</a>
                <a href="{% url 'offermanagement' %}" class="list-group-item list-group-item-action active">Offer managemant</a>
                <a href="{% url 'reports' %}" class="list-group-item list-group-item-action">Reports</a>

            </div>

        </div>
        <div class="col-md-9">
            <div class="d-flex justify-content-between">
                <h3>Offe managemant</h3>
                <form class="d-flex">
                  <input class="form-control me-2 bg-transparent" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <hr>

            <h4>Offer products</h4>
            <div class="">
              
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add new offer
              </button>

            </div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">company</th>
                  <th scope="col">model</th>
                  <th scope="col">mrp</th>
                  <th scope="col">seller price</th>
                </tr>
              </thead>
              <tbody>

                <!-- poffer product iteratively list here -->

                {% if offer_list %}
                {% for item in offer_list %}
                
                <tr>
                  <td>{{ item.product_id__company }}</td>
                  <td>{{ item.product_id__model }}</td>
                  <td>{{ item.mrp }}</td>
                  <td>{{ item.seller_price }}</td>
                </tr>

                {% endfor %}
                {% endif %}

                <!-- poffer product iteratively list here -->
                
              </tbody>
            </table>
            
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                <div class="row">
                  <div class="col-6 form-group ">
                    <label for="">Company</label>
                    <input type="text" class="form-control" id="offer_company" placeholder="Enter company name">
                  </div>
                  <div class="col-6 form-group ">
                    <label for="">Model</label>
                    <input type="text" class="form-control" id="offer_model" placeholder="Enter model namel">
                  </div>
                  <div class="col-12 form_froup my-3">

                    <label for="">New Offer price</label>
                    <input type="text" class="form-control" id="offer_price" placeholder="Enter offered name">

                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" id="new_product_offer" class="btn btn-primary">Applay new offer</button>
              </div>
            </div>
          </div>
        </div>

    </div>

</div>

<script>

  $("#new_product_offer").on('click', function() {
    console.log("offer applay button clicked")

    var offer_company = $("#offer_company").val()
    var offer_model = $("#offer_model").val()
    var offer_price = $("#offer_price").val()

    if (offer_company == "" || offer_price == "") {
      console.log("invalied credentials")
      toastr.options.timeOut = 500
      toastr.warning('invalied credentials')
      return
    }

    data = {offer_company: offer_company, offer_model:offer_model, offer_price:offer_price, csrfmiddlewaretoken: '{{ csrf_token }}'}

    $.ajax({
      method:"POST",
      url:"{% url 'addoffer' %}",
      data:data,
      success: function(data) {
        console.log("success")

        toastr.options.timeOut = 500
        toastr.info(data.message)


      }
    })

  })

</script>

{% endblock adminsection %}